<header id="header" class="navbar navbar-expand-lg navbar-end navbar-light bg-white">
  <!-- Topbar -->
  @@include("../navbar/topbar-demo.html", {
    "topbarcategory": "@@topbarcategory",
    "topbarlink": "@@topbarlink"
  })
  <!-- End Topbar -->

  <div class="container">
    <nav class="js-mega-menu navbar-nav-wrap">
      <!-- Default Logo -->
      <a class="navbar-brand" href="@@autopath/index.html" aria-label="Front">
        <img class="navbar-brand-logo" src="@@autopath/assets/svg/logos/logo.svg" alt="Logo">
      </a>
      <!-- End Default Logo -->

      <!-- Toggler -->
     
      <!-- End Toggler -->
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          @@include("../navbar/navbar-nav-menu.html", {
            "category": "@@category",
            "subcategory": "@@subcategory",
            "link": "@@link"
          })

          <!-- Button -->
          
          <!-- End Button -->
        </ul>
      </div>
      <!-- End Collapse -->
    </nav>
  </div>
</header>
